<p><a href="http://www.urbandictionary.com/">Urban Dictionary</a> is the best site on the internet, that is a fact. 
Urban Tech Dictionary would very much like to be a little bit like Urban Dictionary for Tech.</p>
<p>You can define any word or expression as long as it pertains to the Tech sphere, languages, databases, OS, websites, companies etc...just stay classy.</p>




