<li><%= definition %></li>
<div class="vote_box">

<div class="upv">

    <div class="plus"><a class="upvote" href="#"><img src="/images/vote-arrow-up.png?1298401792"></a></div>

    <div class="plus_score"><span class="score"><%= upv %></span></div>

</div>

<div class="dwv">

   <div class="minus"> <a class="downvote" href="#"><img src="/images/vote-arrow-down.png?1298401792"></a></div>
    <div class="minus_score"><span class="score"><%= dwv %></span></div>

</div>

</div>
<div class='clear'></div>
