
<div class="login_text">
 login with your Twitter account to post a new definition:
</div>

<div class="login">
  <a href="/auth/twitter">  <img src="/images/twitter_128.png?1298401792"></a>
</div>


<div class='clear'></div>
