<div class="label">Word or Expression</div>
<div id="new_def_word"><%= text_field_tag('def_word') %></div>
<div class="label">Definition</div>
<div class="gdlns">(include an exemple of the use!)</div>
<div id="new_def_def"><%= text_area_tag('def_def') %></div>
<button class="sexybutton sexysimple sexyblue" type="submit" id="new_def_button"><div id="add_def">submit</div></button>




