<div id="new_def_word"><%= text_field_tag('def_word') %></div>
<div id="new_def_def"><%= text_area_tag('def_def') %></div>
<button class="sexybutton sexysimple" type="submit" id="new_def_button"><span class="ok">OK</span></button>




