<div class='clear'></div>
<% if (previous_page != null) {%>
<a class="prevnext" href="/#letter/<%= letter %>&page=<%= previous_page  %>">Previous</a> 
<% }%>

<% if (next_page != null) {%>
<a class="prevnext" href="/#letter/<%= letter %>&page=<%= next_page  %>">Next</a> 
<% }%>
