<% if (previous_page != null) {%>
<a href="/#word/<%= id %>?page=<%= previous_page  %>">Previous</a> 
<% }%>

<% if (next_page != null) {%>
<a href="/#word/<%= id %>?page=<%= next_page  %>">Next</a> 
<% }%>
