<h1><%= word %></h1>
<li><%= definition %></li>
<div><a class="upvote" href="#"><img src="/images/thumb-up.png"></a><%= upv %></div>
<div><a class="downvote" href="#"><img src="/images/thumb-down.png"></a><%= dwv %></div>
