img {
  border: 0; }

@font-face {
	font-family: good_dog;
	src: url('/stylesheets/GoodDog.otf');
}



body, h1 {
  font-family: "Droid Sans", Helvetica, Arial, "Liberation Sans", "DejaVu Sans", sans;
  margin: 0;
  padding: 0; }

ul{
  margin: 0;
  padding: 0;}

#main, #main a {
  color: #464646; }

#main {
  padding: 10px; }

#alphabet{
	font-family: good_dog; /* no .ttf */
  font-size: 28px;}

#new_button_txt {
	font-family: good_dog; /* no .ttf */ }

#alphabet a {
    color: #1067ae; }

#logo, #alphabet, #new_button {
  float: left; }

#logo{
  margin-left: 50px; }

#alphabet {
  margin: 0 20px 0 20px; }

#topline {
  height: 5px;
  background: #FF9834; }

#words_list {
  list-style: none; }

#headwrap {
  border-bottom: solid lightgray 1px;
  padding-top: 25px;
  height: 70px;
  background: #E7E4D3; }

#bottomwrap {
  background: #F1EFE2; }

#definitions {
  list-style: none; }

.each_def {
  display: block;
  padding: 10px;
  margin: 10px 0 0 0;
  border: solid lightgray 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #F1EFE2; }

#w_title {
	font-family: good_dog; /* no .ttf */
  border-left: 6px solid #FF9834;
  padding-left: 5px;
  float: left; }

#sidebar {
  margin-top: 60px;
  min-height: 500px;
  background: #E7E4D3; }

.vote_box{
  float: right; }

.score {
  font-size: 24px;
  margin-left: 5px; }

.plus, .plus_score, .minus, .minus_score{
  float: left; }

.plus_score{
	font-family: good_dog; /* no .ttf */
  color: #1067ae; }

.minus_score{
	font-family: good_dog; /* no .ttf */
  color: #DAA520; }

.plus, .minus{
  margin-top: 4px; }

.poster {
  padding-top: 40px;
  float: left; }

.poster_name{
  font-size: 18px;
  font-family: good_dog;
  color: #FF9834; }


