img {
  border: 0; }




@font-face {
  font-family: 'good_dog';
  src: url('/stylesheets/GoodDog-webfont.eot?') format('eot'), url('/stylesheets/GoodDog-webfont.woff') format('woff'), url('/stylesheets/GoodDog-webfont.ttf') format('truetype');
}


body, h1 {
  font-family: "Droid Sans", Helvetica, Arial, "Liberation Sans", "DejaVu Sans", sans;
  margin: 0;
  padding: 0; }



ul{
  margin: 0;
  padding: 0;}

#main, #main a {
  color: #464646; }

#main {
  min-height: 700px;
  padding: 10px; }

#alphabet{
	font-family: good_dog; /* no .ttf */
  font-size: 28px;}

#new_button_txt {
	font-family: good_dog; /* no .ttf */ }

#alphabet a {
    color: #1067ae; }

#logo, #alphabet, #new_button {
  float: left; }

#logo{
  margin-left: 50px; }

#alphabet {
  margin: 0 20px 0 20px; }

#topline0 {
  height: 1px;
  background: black; }

#topline {
  height: 10px;
  background: #FF9834; }

#bottomline {
  height: 25px;
  background: #FF9834; }

#words_list {
  margin-top: 5px;}

#headwrap {
  border-bottom: solid lightgray 1px;
  padding-top: 15px;
  height: 40px;
  background: #E7E4D3; }

#bottomwrap {
    background-color: #ffffff; }

#definitions {
  list-style: none; }

.each_def {
  display: block;
  padding: 10px;
  margin: 20px 0 0 0;
  border: solid lightgray 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #F1EFE2; }

#w_title {
	font-family: good_dog; /* no .ttf */
  border-left: 6px solid #FF9834;
  padding-left: 5px;
  float: left; }


#w_title h1{
  font-size: 140%;
	font-family: good_dog; /* no .ttf */}

.vote_box{
  float: right; }

.score {
  font-size: 24px;
  margin-left: 5px; }

.plus, .plus_score, .minus, .minus_score{
  float: left; }

.plus_score{
	font-family: good_dog; /* no .ttf */
  color: #1067ae; }

.minus_score{
	font-family: good_dog; /* no .ttf */
  color: #DAA520; }

.plus, .minus{
  margin-top: 4px; }

.poster {
  padding-top: 40px;
  float: left; }

.poster_name{
  font-size: 18px;
  font-family: good_dog;
  color: #FF9834; }

.inwtitle {
  font-weight: bold;

  margin-bottom: 5px;
  padding-left: 5px;
  border-left: 3px solid #FF9834;
  color: #464646;}

#new_def_word {
  margin: 5px 0 5px 0;}



#def_word,#def_def {
  border: 1px solid lightgray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #fff;
  margin: 10px 0 10px 0;
}

#def_word {
  height: 25px;
  width: 450px;
}

#def_def {
  height: 100px;
  width: 450px;
}

#new_def {
  padding: 10px;
  margin-top: 20px;}

#add_def {
  font-size: 16px;
	font-family: good_dog; /* no .ttf */ }

#sidebar {
  margin-top: 60px;
  overflow:hidden;
  background: #F1EFE2; }

#sidebar li {
  white-space: nowrap;
  list-style: none;}

#sidebar a {
  font-size: 90%;
  color: #464646;}

.new_def_bgd {
background: #F1EFE2;}

#word_title {
  font-size: 150%;
  font-family: good_dog;}

.indiv_wlist{
margin-bottom: 5px;
padding-left: 5px;
border-left: 2px solid #FF9834;}

.prevnext{
  font-size: 120%;
  font-family: good_dog;}

#session{
padding-top:5px;
font-family: good_dog;
float:right;}

#session a{
color: #1067AE;}

.login_text{
  font-size: 150%;
font-family: good_dog;}

#words_list_hdr h1{
font-family: good_dog;}

#random {
float: left;
padding-top:5px;
font-family: good_dog;}

#random a{
    font-size: 20px;
    color: #FF9834;}

#twitter{
margin: 5px 10px 0 0;
float: right;}

.error_av{
color: #FF9834;
}

.label{
font-size: 150%;
font-family: good_dog;}

.gdlns{
font-size: 65%;
font-style: italic;}

#about_link{
font-size: 135%;
font-family: good_dog;
text-align: center;}

#about_link a{
text-decoration: none;
color: black;}
