<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
    <script src="/javascripts/ICanHaz.min.js?1296905508" type="text/javascript"></script>
  </head>

  <body>

<% @letters.each do |f| %>
<%= link_to f, root_path+'#letter/'+f %>
<% end %>
    <script>
$(function() {


  var Word = Backbone.Model.extend({
    url : function() {
    return this.id ? '/word/' + this.id : '/word';
    }
  });


  var MyController = Backbone.Controller.extend({
  routes : {
    "" : "home",
    "letter/:letter": "wordByletter"
    },
  home : function() {
    var appview = new AppView;
    appview.render();
    },
  wordByletter : function(letter) {
    var words_by_letter = new Words_by_letter;
    words_by_letter.url = '/word?letter='+letter;
    words_by_letter.fetch();
    var wordview = new WordView({words_bl: words_by_letter});
    }

  });


  Words = Backbone.Collection.extend({
    model: Word,
    url : "/word"
    //This is our Friends collection and holds our Friend models

  });


  Words_by_letter = Backbone.Collection.extend({
    model: Word

 //This is our Friends collection and holds our Friend models

  });




    var words = new Words(<%= raw @words%>);
    //words.fetch(); 
  words.bind("add", function(word) { 
       $('#words_list').append(ich.words_coll(word.toJSON()));
    })

  AppView = Backbone.View.extend({
    el: $("body"),
    events: {
      "click #add-word":  "post_def"
    },
    post_def: function () {
      var newdef = new Word({
      word : $('input#word_title').val(),
      definition : $('input#word_definition').val(),
    });
    newdef.save();
    words.add(newdef);
    },
    render : function() {
      var user = ich.user();
      $('.test').html(user);

  words.each(function(word) {
       $('#words_list').append(ich.words_coll(word.toJSON()));
  });

    }
  });




  WordView = Backbone.View.extend({
    el: $("body"),
    initialize: function() {
      this.weurds= this.options.words_bl;    
      this.render(); 
      },  
    render : function() {

       this.weurds.each(function(word) {
   alert('lololo');
  });
  }
  });








  var yC = new MyController;
  Backbone.history.start();


});








    </script>
    <div class='test'></div>
    <ul id="words_list">

    </ul>




    <script id="user" type="text/html">
    <div><input id="word_title"></input></div>
    <div><input id="word_definition"></input></div>
    <button id="add-word">Add Word</button>
    </script>

    <script id="words_coll" type="text/html">
    <li>{{ word }} : {{ definition }}</li>
    </script>

  </body>
</html>

